<head>
  <script type="text/javascript" src="js/MathJax/MathJax.js?config=default"></script>
  <script type="text/javascript" src="js/mathjax/MathJax.js"></script>
</head>
<body>
  <form name="solve_me" method="post" class="inline" align="center">
    <fieldset>
      <legend>enter an equation</legend>
      <p>
        <label for="post[expr]">equation:</label>
        <input type="text" name="post[expr]" id="post[expr]" />
      </p>
    </fieldset>
  </form>
</body>